                    * {
                        margin: 0%;
                        padding: 0%;
                    }
                    
                    .home {
                        background-image: url(/assets/img/portada.jpg);
                        height: 100vh;
                        width: 100vw;
                        background-attachment: fixed;
                        background-position: center;
                        background-size: cover;
                    }
                    
                    h3 {
                        font-size: 17px !important;
                        color: white;
                        padding-top: 25px;
                        margin-right: 35px;
                        margin-left: 35px;
                    }
                    
                    .btn {
                        background-color: #F1717F !important;
                        color: white;
                        width: 130px;
                        margin: 0 auto;
                        margin-top: 0.8rem;
                    }
                    
                    .card-title {
                        color: #355e7d !important;
                    }
                    
                    .card-body {
                        width: 80%;
                        margin: 0 auto;
                        margin-top: 1rem;
                        padding: 2%;
                    }
                    
                    strong {
                        color: #F1717F !important;
                    }