<section class="home">
    <div class="row">
        <div class="col-md-6 mx-auto mt-2">
            <div>
                <h2 class="firstTexts text-center">
                    Sabemos que amas a tus hijos y que volver a trabajar no fue una decision facil, pensando en ti <strong>MOMS</strong> te tiene la mejor oportunidad laboral
                </h2>
            </div>
            <div class="card-body card text-center">
                <h5 class="card-title">En busca de mi proxima <br> oportunidad profesional </h5>
                <button type="button" class="btn btn" [routerLink]="['/login']">Quiero Postular</button>
            </div>
            <div class="textTwo text-center">
                <h4 class="textThree">Estoy buscando contratar para un puesto o proyecto en nombre de una empresa</h4>
                <button type="button" class="btnOff btn-light">Registrarse</button>
            </div>
        </div>
    </div>
</section>
<section class="homeTwo">
    <div class="row">
        <div class="col">
            <div class="col-md-6 mx-auto mt-2">
                <div>
                    <h2 class="firstText text-center">
                        CÓMO AYUDAMOS A TU EMPRESA <br><br> Mejoramos tu representación de género y te guiamos con mejores prácticas de mercado.
                    </h2>
                </div>
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>