<section class="home">
    <div class="row">
        <div class="col-md-6 mx-auto mt-2">
            <div>
                <h3 class="firstText text-left">
                    Sé que amas a tus hijos tanto como cualquier otra mamá. Sé que regresar a trabajar no fue una decisión fácil, ven <strong>Nosotros te ayudamos</strong>
                </h3>
            </div>
            <div class="card-body card text-center">
                <h5 class="card-title">En busca de mi proxima <br> oportunidad profesional </h5>
                <button type="button" class="btn btn" [routerLink]="['/login']">Quiero Postular</button>
            </div>
            <div class="textTwo">
                <h3>Estoy buscando contratar para un puesto o proyecto en nombre de una empresa</h3>
                <button type="button" class="btnOf text-center ">Registrarse</button>
            </div>


        </div>
    </div>
</section>