<div class="container">
    <section class="home">
        <div class="row">
            <div class="col-md-6 mx-auto mt-2">
                <div>
                    <h3 class="firstTexts text-center">
                        Sabemos que amas a tus hijos y que volver a trabajar no fue una decision facil, pensando en ti <strong>MOMS</strong> te tiene la mejor oportunidad laboral
                    </h3>
                </div>
                <div class="card-bodyOne card text-center">
                    <h4 class="card-title">En busca de mi proxima <br> oportunidad profesional </h4>
                    <button type="button" class="btn btn" [routerLink]="['/login']">Quiero Postular</button>
                </div>
                <div class="textTwo text-center">
                    <h4 class="textThree">Estoy buscando contratar para un puesto o proyecto en nombre de una empresa</h4>
                    <button type="button" class="btnOff btn-light">Registrarse</button>
                </div>
            </div>
        </div>
    </section>


    <section class="homeTwo">
        <div class="row">
            <div class="col-md-6 mx-auto mt-2">
                <div>
                    <h2 class="firstText text-center">
                        CÓMO AYUDAMOS A TU EMPRESA <br><br> Mejoramos tu representación de género y te guiamos con mejores prácticas de mercado.
                    </h2>
                </div>
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header"><strong>TRABAJOS POR PROYECTO </strong></div>
                    <div class="card-body">
                        <h5 class="card-title">Contrata a una mamá experta por tiempo acotado y con un objetivo claro </h5>
                        <p class="card-text">Podemos entregarte a las mujeres más talentosas del mercado para desarrollar los proyectos que necesitas. Conoce a este grupo de mamás expertas y flexibles que adecuarán sus horarios para cubrir las necesidades de tu negocio </p>
                    </div>
                </div>
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header"><strong> TRABAJOS PART-TIME </strong> </div>
                    <div class="card-body">
                        <h5 class="card-title">Contrata mamás por menos horas a la semana </h5>
                        <p class="card-text">Mamás expertas pueden trabajar por menos horas a la semana y tener los resultados que tu negocio necesita. Este grupo quiere un trabajo con disponibilidad en oficina de 20 a 30 horas por semana </p>
                    </div>
                </div>
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header"> <strong>FULL-TIME CON FLEXIBILIDAD</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">Contrata profesionales por tiempo completo, pero con algún tipo de flexibilida</h5>
                        <p class="card-text">Tenemos Muchas mamás que quieren trabajar tiempo completo, pero no 100% desde una oficina o en horarios tradicionales. Puedes contratar mamás que quieren entre un 10% y 50% de flexibilidad para trabajar remoto (Teletrabajo) o buscan
                            horarios diferentes o flexibles. </p>
                    </div><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </section>
</div>