<h1>Perfil de Candidata</h1><br>
    <div class="form-group">
      <label for="exampleFormControlInput1">Profesión</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <form>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Área de interes</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option selected>Seleccionar..</option>
              <option>Salud</option>
              <option>Administración</option>
              <option>Telecomunicaciones</option>
              <option>Tecnología</option>
              <option>Industria</option>
              <option>Ingeniería</option>
              <option>Arte</option>
            </select>
          </div>
          <div class="form-group">
              <label for="exampleFormControlSelect1">Disponibilidad laboral</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option selected>Seleccionar..</option>
                <option>Trabajos por proyecto</option>
                <option>Trabajos part time</option>
                <option>Trabajo full time con flexibilidad</option>
              </select>
          </div>
          <div class="form-group">
              <label for="exampleFormControlSelect1">Trabajarías desde</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option selected>Seleccionar..</option>
                <option>Forma remota</option>
                <option>Desde la empresa</option>
              </select>
          </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Pretensión de renta</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="cv" >
          <img src="/assets/img/pdf.png" alt="" width="50px"><p>Sube tu CV</p>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Subir archivo</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
                </div>
              </div>
        <button type="button" class="btn btn-outline">Cancelar</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/vacantes']">Continuar</button><br><br><br><br>


                              

