.form-control{
    width: 300px;
    border: 0.5px solid rgb(80, 80, 80);
}
.form-group{
    margin: 10px;
}

.cv{
    margin: 10px;
}

.btn-primary{
    background-color: #355E7D !important;
    margin: 50px;
}
.btn-outline{
    color: #355E7D !important;  
    margin: 10px;  
}


