.form-control{
    width: 300px;
    border: 0.5px solid rgb(80, 80, 80);
}
.form-group{
    margin: 10px;
}

.cv{
    margin: 10px;
}
.inputfile {
	width: 122px;
    height: 24.01px;
	opacity: 0;
    position: absolute;  
    
}
.inputfile + label {
    font-size: 1.25em;
    color: #355E7D;
    display: inline-block;
    border: 2px solid #355E7D;
    border-radius: 4px;
    font-size: 15px;
    padding: 5px;

}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

