<section class="container">
    <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6 mx-auto mt-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">LOGIN</h1>
                    <form>
                        <div class="form-gruop">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-gruop">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <input type="text" value="ENTRAR" class="btn btn-primary btn-block btn-lg mt-5">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h5 class="text-center">OR</h5>
    <div class="row">
        <div class="col-md-6 mx-auto mt-2">
            <div class="card">
                <div class="card-body justify-content-around">
                    <button class="btn btn-block btn-facebok"><i class="fab fa-facebook-f"></i> Facebook</button>
                    <button class="btn btn-lg btn-block btn-google"><i class="fab fa-google-plus-g"></i> Google</button>
                    <button class="btn btn-lg btn-block btn-twitter"><i class="fab fa-twitter"></i> Twitter</button>
                </div><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</section>