<section>
    <div class="row">
        <div class="col-md-6 mx-auto mt-2">
            <div>
                <h2>
                    Vacantes que podrían interesarte postula ya!
                </h2>
            </div>
            <div class="card">
                <div class="card-body">
                    Empresa del área de Tecnología requiere: Ing. en Sistema Jornada laboral: Part - time Sueldo: 350.000 $ Habilidades: Front-end Developers.
                </div>
            </div>
        </div>
    </div>
</section>