<div class="container">
    <section>
        <div class="row">
            <div class="col-md-6 mx-auto mt-2">
                <div>
                    <h2>
                        Vacantes que podrían interesarte postula ya!
                    </h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5>Empresa del área de Tecnología requiere: Ing. en Sistema Jornada laboral: Part - time Sueldo: 350.000 $ Habilidades: Front-end Developers.</h5>
                        <button type="button" class="btnSign btn-primary">Postula ya!</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5>Empresa del área de Tecnología requiere: Ing. en Sistema Jornada laboral: Part - time Sueldo: 350.000 $ Habilidades: Front-end Developers </h5>
                        <button type="button" class="btnSign btn-primary">Postula ya!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>