<br>
<div class="container-card">
<div class="card" style="width: 18rem;">
  <img src="../../assets/img/imagenSeccion1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Unete a los Workshop</h5>
    <p class="card-text">Sabemos que capacitarte es algo primordial en tu carrera, unete y se parte de esta experiencia.</p>
    <br>
    <br>
    <br>
    <a href="#" class="btn btn">Unete</a>
  </div>
  <br>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../assets/img/seccion2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Experiencias que cambian vidas</h5>
    <p class="card-text">Creemos que reinventarte y explorar nuevos caminos cambian vidas, conoce a nuestras protagonistas.</p>
    <br>
    <a href="#" class="btn btn">Unete</a>
  </div>
  <br>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../assets/img/seccion3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Noticias</h5>
    <p class="card-text">Mantente informado de todas las novedades de nuestra pagina, somos parte de tu interes profesional.</p>
    <br>
    <a href="#" class="btn btn">Unete</a>
  </div>
  <br>
  <br>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../assets/img/seccion4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tips de Utilidad</h5>
    <p class="card-text">Tips de como "enfrentar una entrevista de trabajo", apoyo con psicologos laborales y especialistas del area RRHH.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="# " class="btn btn">Unete</a>
  </div>
  <br>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../assets/img/seccion5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nuevas Tendencias Laborales</h5>
    <p class="card-text">Conoce las nuevas tendencias laborales que el mercado te ofrece como profesional.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="# " class="btn btn">Unete</a>
  </div>
  <br>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../assets/img/seccion6.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Reconversion Laboral</h5>
    <p class="card-text">El Programa de Reconversión Laboral, tiene por objetivo atender las necesidades de capacitación de personas desempleadas que hayan perdido su empleo recientemente, con la finalidad de aumentar la posibilidad de reinsertarse laboralmente y de aumentar y mejorar las competencias laborales.</p>
    <a href="#" class="btn btn">Unete</a>
  </div>
</div>
</div>
