/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "roboto", "Helvetica Neue", sans-serif;
}

.navbar {
    background-color: #445e7c !important;
}

.iconos {
    color: #f1717f;
    margin-right: 5px;
}

.letra {
    color: whitesmoke;
}

.lineas {
    color: #f1717f;
}