<footer class="footer bg-inverse text-center w-100">
    <div class="containerfooter">
        <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
        <p class="text-black">
            <img src="/assets/img/moms pr.png" alt=""><br>
            <img src="/assets/img/facebook.png" alt="" width="30px">
            <img src="/assets/img/instagram.png" alt="" width="30px">
            <img src="/assets/img/social-linkedin.svg" alt="" width="30px">
            <img src="/assets/img/youtube.png" alt="" width="30px">
        </p>
        </div>
    </div>
    </div>
</footer>